.header {
  background-color: #1172b7;
  margin-bottom: 20px;
}

.footer {
  background-color: #1172b7;
  margin-top: 20px;
}

/* .main {
  padding-top: 40px;
}
.col-xl-5 {
  margin-top: 100px; 
}
.photo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 225px;
  border: 1px solid #007bff;
  border-radius: 50%;
}
.avatar {
  width: 197px;
  height: 197px;
  background-color: #007bff;
  border-radius: 50%;
}
.info {
  margin-top: 95px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name {
  height: 37px;
  color: #000000;
  font-size: 51px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.surname {
  height: 41px;
  color: #000000;
  font-size: 60px;
  font-weight: 700;
  margin-top: 12px;
  text-transform: uppercase;
  text-align: center;
}
.job_title {
  height: 17px;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  margin-top: 25px;
  text-transform: uppercase;
  text-align: center;
}
.block_title > img {
  width: 72px;
}
.block_title > span {
  color: #007bff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 12px;
}
.block_title {
  display: flex;
  align-items: center;
}
.lines {
  width: 100%;
  height: 6px;
  background-color: #007bff;
}
.profile {
  margin-top: 150px;
}
.profile_block {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  margin-top: 19px;
  text-align: justify;
} */
.contact {
  margin-top: 90px;
}
.contact_block {
  margin-top: 35px;
}
.address, .phone, .mail, .website {
  width: 100%;
  height: 14px;
  color: #007bff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}
.contact_info {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.skills {
  margin-top: 90px;
  margin-bottom: 40px;
}
.skills_block {
  margin-top: 28px;
}
.circles {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}
.grey_circle {
  width: 18px;
  height: 17px;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin: 15px 9px 25px 9px;
}
.blue_circle {
  width: 18px;
  height: 17px;
  background-color: #007bff;
  border-radius: 50%;
  margin: 15px 9px 25px 9px;
}
.creative > div:first-child,
.teamwork > div:first-child,
.communication > div:first-child,
.innovate > div:first-child {
  position: relative;
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.type {
  display: flex;
  margin-top: 30px;
}
.type > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
  display: block;
  margin: 7px;
}

.type > div {
  color: #007bff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 21px;
}
.type > .date {
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  margin-left: 15px;
}
.place {
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 55px;
  margin-top: 16px;
}
.information {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  margin-left: 55px;
  margin-top: 15px;
}
.experience {
  margin-top: 51px;
}
.software {
  margin-top: 51px;
}
.software_block {
  margin-top: 31px;
}
.title_of_skill {
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
.progres_of_skill {
  margin-top: 19px;
  width: 269px;
  height: 22px;
  background-color: #e6e6e6;
}
.progres_of_skill > div {
  height: 22px;
  background-color: #007bff;
}
.software_skill_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}